* {
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 100px;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 24px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #e5e7eb;
  font-size: 18px;
}

.content {
  flex-grow: 1;
}

.content-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  background-color: #1f2937;
  margin: auto;
  padding-bottom: 150px;
}

.top-left {
  width: 500px;
}

.top-left h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.top-left p {
  color: #e5e7eb;
  font-size: 18px;
}

.btn-1 {
  padding: 3px 25px;
  border-radius: 8px;
  color: #e5e7eb;
  background-color: #1864ab;
}

.btn-1:hover {
  background-color: #1c7ed6;
  cursor: grab;
}

.btn-1:active {
  background-color: #4dabf7;
  cursor: pointer;
}

.ribbon {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}

.ribbon h1 {
  padding-bottom: 40px;
  font-size: 58px;
  color: #1f2937;
}

.ribbon img {
  border: 3px solid #fcc419;
  border-radius: 5px;
}

.ribbon ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}
.ribbon ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quotes {
  font-size: 32px;
  width: 750px;
  text-align: center;
  margin: 0 auto;
}

.sign-up {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sign-up ul {
  list-style: none;
}

.sign-up button {
  padding: 8px 40px;
}

footer {
  text-align: center;
}
