body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.content {
  flex-grow: 1;
  width: 80%;
  margin: 0 auto;
}

.content-top {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.top-left {
  width: 500px;
}

.ribbon {
  margin-top: 100px;
}

.ribbon ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
.ribbon ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quotes {
  display: flex;
  flex-direction: column;
}

.sign-up {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sign-up ul {
  list-style: none;
}

.sign-up button {
  padding: 8px 40px;
}

footer {
  text-align: center;
}
